In [1]:
import pandas as pd
from pandas import Series, DataFrame, read_csv
from array import Stimuls
from collections import deque

In [2]:
events = pd.read_csv("events", sep=" ")
frame1 = DataFrame(events)
frame1

       type  -  num   start    stop    time       X      Y    endX   endY
0   Saccade  -    0   12000  235000  223000   690.0  799.0  1357.0  695.0
1  Fixation  -    0  235000  445000  210000  1355.0  699.0     0.0    0.0
2   Saccade  -    1  445000  637000  192000  1357.0  699.0   622.0  318.0
3  Fixation  -    1  637000  763000  126000   618.0  309.0     0.0    0.0

In [28]:
array = pd.DataFrame(Stimuls)
frame2 = array
frame2

      name  length   tech
0  Stimul1   15000  False
1  Stimul2   25000   True
2  Stimul3   20000  False

In [24]:
def check(frame1, stop):
    stack = frame1['time'].items()
    fr1list= []
    check = []
    for k,v in stack:
        s = sum(check, 0)
        if s >= stop:
            break
        else:
            check.append(v)
            fr1list.append(frame1.loc[k])
        print(s)
    pd.DataFrame(fr1list).to_csv('output')
    return check
check(frame1, 625000)

0
223000
433000

[223000, 210000, 192000]

In [21]:
outpp = pd.read_csv('output', sep=',')
outpp

,Unnamed: 0,type,-,num,start,stop,time,X,Y,endX,endY
0,0,Saccade,-,0,12000,235000,223000,690.0,799.0,1357.0,695.0

In [27]:
slots = [x for x in frame2['length']]
slots

[15000, 25000, 20000]

In [20]:
# class AutoChelenge(frame1,frame2):


# def check(frame1, stop):
#     stack = frame1['time'].items()
#     fr1list= []
#     check = []
#     for k,v in stack:
#         s = sum(check, 0)
#         if s >= stop:
#             break
#         else:
#             check.append(v)
#             fr1list.append(frame1.loc[k])
#         print(s)
#     pd.DataFrame(fr1list).to_csv('output')
#     return fr1list

# slots = [x for x in frame2['length']]

# try:
#     for z in slots:
#         f = check(frame1, z)
#         print(f)
# except:
#     print('STOP')